{
  "root": true,
  "extends": ["@webdeveric/eslint-config", "prettier"],

  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "browser": false,
    "es6": true,
    "mocha": true,
    "node": true
  }
}
