language: node_js
node_js:
  - "6.11.5"
  - "8"
  - "10"
  - "node"
env:
  - WEBPACK_VERSION=4.0 DEVSERVER_VERSION=3.0
  - WEBPACK_VERSION=latest DEVSERVER_VERSION=latest
matrix:
  fast_finish: true
cache:
  directories:
    - "$HOME/.npm"
before_install:
  - npm install -g npm@latest
  - npm --version
install:
  - npm install -g codecov
  - npm ci
  - npm install webpack@$WEBPACK_VERSION webpack-dev-server@$DEVSERVER_VERSION
script:
  - npm run test:coverage
  - codecov
