# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
        webpack-version: ['4.40', 4]
        dev-server-version: [3.0, latest]
        css-loader-version: [3.5, latest]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Installing dependencies
        run: npm ci
      - name: Installing specific dependency versions
        run: npm install webpack@${{ matrix.webpack-version }} webpack-dev-server@${{ matrix.dev-server-version }} css-loader@${{ matrix.css-loader-version }}
      - name: Building (if needed)
        run: npm run build --if-present
      - name: Running tests
        run: npm test
      - name: Generating coverage report
        run: npm run lcov --if-present
      - name: Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.lcov
          fail_ci_if_error: true
