name: Node.js CI

on: [push]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
        webpack-version: ["5.2.0", 5]
        dev-server-version: ["3.6.0", 3]
        css-loader-version: ["3.5.0", latest]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Installing dependencies
        run: npm ci
      - name: Installing specific dependency versions
        run: npm install --legacy-peer-deps webpack@${{ matrix.webpack-version }} webpack-dev-server@${{ matrix.dev-server-version }} css-loader@${{ matrix.css-loader-version }}
      - name: Building (if needed)
        run: npm run build --if-present
      - name: Running tests
        run: npm test
      - name: Generating coverage report
        run: npm run lcov --if-present
      - name: Upload code coverage
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          files: ./coverage.lcov
          token: ${{ secrets.CODECOV_TOKEN }}
