name: Weekly CI

on:
  schedule:
    - cron: '0 16 * * 1' # Mondays at 4pm

jobs:
  weekly-ci:
    name: Weekly CI
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [20.x, 22.x]
        webpack-version: ['5.61.0', latest]
        dev-server-version: [4, latest]
        css-loader-version: ['3.5.0', latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install specific dependency versions
        run: pnpm install webpack@${{ matrix.webpack-version }} webpack-dev-server@${{ matrix.dev-server-version }} css-loader@${{ matrix.css-loader-version }} --no-lockfile

      - name: Linting
        run: pnpm lint

      - name: Build
        run: pnpm build

      - name: Test
        run: pnpm coverage
